{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'TodoListApp/css/base.css' %}">
  {% block style %}

  {% endblock %}
  <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
</head>
<body>
  {% block loader %}

  {% endblock %}
  {% block body %}

  {% endblock %}
  <footer class="footer">
    <p class="hidden">
      8/12/2020 | 18:42:43
    </p>
    <p class="author">
      <span class="created-by">Created&nbsp;by:</span> Damian&nbsp;Tułacz
    </p>
    <p class="time">
      <span class="timer"></span>
    </p>
  </footer>
  <script src="{% static 'TodoListApp/js/timer.js' %}"></script>
  <script src="{% static 'TodoListApp/js/loader.js' %}"></script>
</body>
</html>