{% extends "TodoListApp/layout.html" %}

{% block body %}

  <div class="container container-items">
    <header class="header">
      <h1>Here is a list of your activities:</h1>
    </header>
    <main class="main main-items">


      {% if items %}
        {% for item in items %}

          <section class="todo-item">
            <!-- <label for="name">Activity name:</label> -->
            <div class="x-wrapper">
              <i class="far fa-times-circle"></i>
            </div>
            <h2 name="name" class="todo-item-name">{{ item.name }}</h2>
            <label for="details">Details:</label>
            <p class="details" name="details">{{ item.details}}</p>
            <p class="date">{{ item.date }}</p>
          </section>

        {% endfor %}
      
      {% else %}
        <section class="empty-list">
          Your list is empty
        </section>
      {% endif %}

      <a href="{% url 'newitem' %}">Add new item</a>
      <br>
      <a href="{% url 'logout' %}">Log Out</a>

    </main>
  </div>


{% endblock %}