{% extends "TodoListApp/base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'TodoListApp/css/items.css' %}">
  <link rel="stylesheet" href="{% static 'TodoListApp/css/loader.css' %}">
  <title>Items</title>
{% endblock %}

{% block body %}

  <nav class="nav">
    <a href="{% url 'newitem' %}">
      <div class="li">Add new item</div>
    </a>
    <form action="{% url 'items' %}" method="post" class="buttons">
      {% csrf_token %}
      <button class="add-10-items li" value="add-10-items" name="add-10-items">add 10 items</button>
      <button disabled class="confirm-delete-button li" value="" name="confirm-delete-button">confirm deleting</button>
    </form>
    <a href="{% url 'logout' %}">
      <div class="li">Logout</div>
    </a>
  </nav>

  <div class="container container-items">
    <header class="header">
      <h1>Hello :{{ name }}:</h1>
      <h1>Here is a list of your activities:</h1>
    </header>
    <main class="main main-items">

    </main>
    <button class="load-more-items">Load more items</button>
  </div>

  <script src="{% static 'TodoListApp/js/items.js' %}"></script>
  <script src="{% static 'TodoListApp/js/loader.js' %}"></script>
{% endblock %}