{% extends "TodoListApp/layout.html" %}

{% block body %}

  <div class="container container-new">
    <header class="header">
      <h1>Adding new item</h1>
    </header>
    <main class="main main-new-item">
      <section class="new-todo-item">
        <form class="new-item-form" action="">
          <label for="name">Activity name:</label>
          <input type="text" class="todo-item-name-input" name="name">
          <label for="details">Details:</label>
          <textarea class="todo-item-details-input" name="details" id=""></textarea>
          <label for="date">Date:</label>
          <input class="date-input" type="datetime-local" name="date" id="">
          <input class="submit" type="submit" value="Add">
        </form>
      </section>
      <a href="{% url 'login' %}">Back to index</a>
      <a href="{% url 'items' %}">Show list of items</a>
    </main>
    
  </div>


{% endblock %}