{% extends "TodoListApp/layout.html" %}

{% block body %}

  <div class="container container-new">
    <header class="header">
      <h1>Adding new item</h1>
    </header>
    <main class="main main-new-item">
      <section class="new-todo-item">
        <form class="new-item-form" action="{% url 'newitem' %}" method="POST">
          {% csrf_token %}
          <label for="name">Activity name:</label>
          <input type="text" class="todo-item-name-input" name="name" required>
          <label for="details">Details:</label>
          <textarea class="todo-item-details-input" name="details" required></textarea>
          <label for="date">Date:</label>
          <input class="date-input" type="date" name="date" required>
          <input class="submit" type="submit" value="Add">
        </form>
      </section>
      <a href="{% url 'items' %}">Show list of items</a>
      <br>
      <a href="{% url 'logout' %}">Log Out</a>
    </main>
    
  </div>


{% endblock %}