{% extends "TodoListApp/base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'TodoListApp/register.css' %}">
{% endblock %}

{% block body %}

  <div class="container container-register">
    <header class="header">
      <h1>Register view</h1>
    </header>
    <main class="main main-register">
      <form method="post" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit" type="submit" value="Register">
      </form>

      <br><br>
      <a href="{% url 'login' %}">Back to login view</a>
    </main>
  </div>


{% endblock %}