

.nav {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .li {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    color: #fff;
    outline: none;
  }

}

.header {
  width: 80%;
}

.main-items {
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .todo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
    height: 300px;
    width: 400px;
    padding: 20px;
    margin: 0 15px;
    position: relative;
    -webkit-animation-name: hide;
            animation-name: hide;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    background-image: url(../img/sticky1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 300px;
    line-height: 100%;

    .todo-item-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -ms-flex-pack: center;
       justify-content: flex-start;
      -webkit-box-align: center;
         -ms-flex-align: center;
            align-items: center;
      margin-bottom: 10px;
      margin-left: 40px;
      margin-right: 25px;
      height: 40px;
      font-size: 25px;
      font-weight: bold;
      margin-top: 20px;
      padding: 5px;
      outline: none;
      color: #000;
      overflow-y: auto;
      scrollbar-width: thin;
      scroll-padding: 0;
      scroll-margin: 0;
      white-space: nowrap;
      cursor: default;
    }

    .details {
      border-radius: 5px;
      overflow-wrap: break-word;
      overflow-y: auto;
      height: 100px;
      padding: 10px;
      margin-left: 40px;
      margin-right: 25px;
      text-align: justify;
      resize: none;
      margin-bottom: 10px;
      outline: none;
      font-size: 22px;
      scrollbar-width: thin;
      scroll-padding: 0;
      scroll-margin: 0;
      cursor: default;
      }

    .x-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      font-size: 20px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      border: none;
      color: #e9c1c1;
      background-color: transparent;
    }

    .x-wrapper:hover {
      color: #fff;
    }
  }

  .empty-list {
    font-size: 44px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    text-align: center;
    pointer-events: none;
  }

  .todo-item label {
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 40px;
    margin-right: 25px;
  }

  .date {
    text-align: right;
    margin-right: 25px;
    pointer-events: none;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
html {
  body {
    .main-items {  
      .todo-item {
        background-size: 80% 300px;
        padding-left: 40px;
        padding-right: 40px;
  
      .todo-item-name {
        margin-left: 30px;
      }
  
      .details {
        margin-left: 30px;
      }
  
      }
    }

    .header {
      h1 {
        font-size: 6vw;
      }
    }
  }
}

}