
.main-new-item {

  .new-todo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: auto;
    padding: 40px;
    padding-top: 60px;
    background-image: url("img/sticky7.png");
    background-size: 400px 430px;
    opacity: 0.9;

    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      .todo-item-name-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 10px;
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        overflow-y: auto;
        text-align: left;
        font-size: 24px;
        margin-bottom: 12px;
        margin-left: 5px;
        margin-right: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        font-family: 'Caveat', cursive;
        font-weight: bold;
      }
  
      label {
        font-size: 22px;
        margin-bottom: 3px;
      }

      .todo-item-details-input {
        overflow-wrap: break-word;
        overflow-y: auto;
        height: 80px;
        padding: 10px;
        text-align: justify;
        resize: none;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 10px;
        font-size: 22px;
        outline: none;
        border-radius: 0;
        border: none;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        font-family: 'Caveat', cursive;
      }
    
      .date-input {
        margin-bottom: 10px;
        height: 30px;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        border: none;
        background-color: transparent;
        margin-left: 5px;
        margin-right: 140px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        cursor: pointer;
      }

      input:hover,
      input:focus,
      textarea:hover,
      textarea:focus{
        background-color: rgba(0, 0, 0, 0.1);
      }

  
      .submit {
        width: 100px;
        height: 40px;
        margin-top: 20px;
        font-size: 24px;
        border: none;
        transition: all 0.5s;
        cursor: pointer;
        background-color: #fff;
        border-radius: 30px;
        font-family: 'Caveat', cursive;
        outline: none;
      }

      .submit:hover {
        transform: translateY(-5px);
      }

      .submit:active {
        transform: translateY(0);
      }
    }
  }
}